body {
  margin: 0;
}

.header {
  display: flex;
  border-bottom: 1px solid black;
  justify-content: space-between;
  height: 85px;
  padding: 0 10px;
  background-color: rgb(252, 250, 247);
}

.banner {
  display: block;
}

a {
  color: #000;
  text-decoration: none;
}

h2,
p {
  align-items: center;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 10px;
}

.logo {
  max-width: 100%;
  display: flex;
  height: auto;
  max-height: 70px;
}

.navigation {
  display: table-cell;
  max-width: 100%;
  align-items: center;
  display: flex;
  max-height: 80px;
  line-height: 1em;
}

.navigation ul {
  list-style: none;
}

.navigation ul li {
  padding: 0 10px;
}

.css-adaptive {
  display: block;
  max-width: 100%;
  height: auto;
}

.benefits {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
}

.benefits div {
  display: block;
  background-color: #8f888825;
  width: 200px;
  margin: 10px;
  text-align: center;
  line-height: 50px;
  font-size: 15px;
  font-family: initial;
}

.footer {
  display: block;
  align-items: center;
  height: 40px;
  background-color: rgba(150, 147, 135, 0.24);
}

@media screen and (min-width: 768px) {
  .benefits {
    display: block;
    flex-direction: column;
    align-items: center;
  }

  .header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .logo {
    margin-bottom: 0;
  }